<!-- <h1 >Dashboard</h1>
<p >Welcome <%= user.fullname %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

 -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/dashboard.css">
<script>
function resethash(){
    location.hash = '';
}



</script>
<style>
.navlinks{
    color:red;
  
    
    font-size: 20px;   
}
.navitems:hover{
    border-bottom: red solid 1px;
}
.navitems{
    margin-right:20px; 
    padding-bottom: 10px;
}
@media screen and (min-width: 800px) {
  .media-dependent {
    margin-left:25%;
  }
}
#logo{
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px 0;
    margin-right:50px;
}</style>
</head>
<body>
        <header style="background: rgba(255, 255, 255, 0.8);">  
           
                
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" id="logo" href="/"><img src="https://cbih.org/assets/img/cbih.png" alt="Cross Border Irish Health Programme | CBIH" title="Cross Border Irish Health Programme | CBIH">
                        
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item navitems active">
                                          <a class="nav-link navlinks" href="/" style="color:red">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item navitems ">
                                          <a class="nav-link navlinks" href="/en/cross_border_health" style="color:red">Services</a>
                                        </li>
                                        <li class="nav-item navitems ">
                                          <a class="nav-link navlinks" href="/en/application" style="color:red">How to Apply</a>
                                        </li>
                                        <li class="nav-item navitems ">
                                                <a class="nav-link navlinks" href="/en/about_us" style="color:red">About Us</a>
                                              </li>
                                              <li class="nav-item navitems ">
                                                    <a class="nav-link navlinks" href="/en/faqs" style="color:red">Faqs</a>
                                                  </li>
                                                  <li class="nav-item navitems ">
                                                        <a class="nav-link navlinks" href="/en/contact_us" style="color:red">Contacts</a>
                                                      </li>
                
                                                      <li class="nav-item" id='but'>
                                                            <a class="btn btn-warning  my-2 my-sm-0" href="/logout">Logout</a>
                                                          </li>
                                                    
                                      </ul>
                          
                        </div>
                      </nav>
           </header>
<br><br>

<div class="container emp-profile">
            <form method="post">
                <div class="row ">
                    <div class="col-md-4   border-right border-dark" >
                        
                    <div class="col-md-6 media-dependent" >
                        <div class="profile-head">
                                    <h5>
                                      <%=user.fullname.toUpperCase()%>
                                    </h5>
                                    
                                    
                            <ul class="nav nav-tabs " id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"  role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" onclick="resethash()" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-md-2 media-dependent" >
                        
                        
                        <a  class="btn btn-success my-2" href="/logout" name="btnAddMore" value="Logout">Logout</a>

                    </div>
                </div>
                <!-- <div class="row pl-4">
                   
                    </div> -->
                    <div class="col-md-8 ">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Application Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= app.id %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= user.fullname %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="user_email" value="<%= user.email %>"><%= user.email %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= user.mobile %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Date Of Birth</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= user.dateofbirth %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%if(user.gender==='m'){%>
                                                <p>Male</p>
                                                <%} else if(user.gender==='f'){%>
                                                    <p>Female</p>
                                                <%} else{%>
                                                <p>Others</p>
                                                <%}%>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>GP name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= app.gpname%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>GP Phone number</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= app.gpphone%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Medical center</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%if(app.medical_center===''){%>
                                                <p>Not given</p>
                                                    <%} else{%>
                                                <p><%= app.medical_center %></p>
                                                <%}%>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Medical center phone number</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%if(app.medical_center===''){%>
                                                    <p>Not given</p>
                                                        <%} else{%>
                                                            <p><%= app.medical_center_phone %></p>
                                                    <%}%>
                                            
                                        </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-6">
                                                    <label>Complaint Type</label>
                                                </div>
                                                <div class="col-md-6">
                                                                                                
                                                        <%if(app.complaint_nature==1){%>
                                                            <p>Hip Replacement</p>
                                                            <%} else if(app.complaint_nature==2){%>
                                                            <p>Cataracts</p>
                                                            <%} else if(app.complaint_nature==3){%>
                                                                <p>Knee Replacement</p>
                                                            <%} else{%>
                                                                <p>Others</p>

                                                            <%}%>
                                    </div>
                                            </div>
                                            
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hospital</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%if(app.hospital===''){%>
                                                    <p>Not given</p>
                                                        <%} else{%>
                                                            <p><%= app.hospital %></p>
                                                    <%}%>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hospital phone number</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%if(app.hospital_phone===''){%>
                                                    <p>Not given</p>
                                                        <%} else{%>
                                                            <p><%= app.hospital_phone%></p>
                                                    <%}%>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Message</label>
                                            </div>
                                            <div class="col-md-6">
                                                <%if(app.message===''){%>
                                                    <p>Not given</p>
                                                        <%} else{%>
                                                            <p><%= app.message%></p>
                                                    <%}%>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" name="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Application Status</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=app.status%></p>
                                            </div>
                                        </div>
                                        <%if(app.status==='Rejected'){%>
                                            <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Refill Application form</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <p><a href="/refill_applicationform/<%=app.email%>">Click here</a></p>
                                                        
                                                    </div>
                                                </div>
                                                
                                        <%}%>
                                        <%if(app.status==="Application Accepted"){%>
                                            <%if((user_doc && user_doc.document_status!="Rejected" && user_doc.document_status!="Document Accepted")  || !user_doc){%>
                                            <div class="row">
                                                <div class="col-md-6">
                                                        <%if(user_doc && user_doc.document_status!="In Progress" ){%>
                                                    <label>Edit Documenets</label>
                                                            <%} else{%>
                                                    <label>Upload Documenets</label>
                                                    <%} %>
                                                </div>
                                                <div class="col-md-6">
                                                        <p><a href="/upload_documents">Click here</a></p>
                                                    </div>
                                            </div>
                                         <%}%>
                                        <%if(user_doc && (user_doc.document_status!="In Progress" || user_doc.document_status!="" || user_doc.document_status!='undefined')){%>

                                            <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Documenets Status</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                           <p><%=user_doc.document_status%></p>
                                                        </div>
                                                </div>
                                            <%}%>
                                            <%}%>
                                                <%if(user_doc && user_doc.document_status==="Rejected"){%>
                                                    <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Reupload Documents</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                        <p><a href="/upload_documents">Click here</a></p>
                                                                   
                                                                </div>
                                                        </div>
                                                <%}%>
                                                
                                                <%if(user_doc && user_doc.document_status==="Document Accepted"){%>
                                                    <div class="row">
                                                            <div class="col-md-6">
                                                                <label>REIMBURSEMENT details</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                        <p><a href="/trip_reimbursement_details">Click here</a></p>
                                                                   
                                                                </div>
                                                        </div>
                                                <%}%>


                                        </div>
                                        
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
</body>
</html>