<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Passport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        img{
            width:50%;
        }
    .nav-link{
        color:red;
      
        
        font-size: 20px;   
    }
    .nav-item:not(#but):hover{
        border-bottom: red solid 1px;
    }
    .nav-item{
        margin-right:20px; 
        padding-bottom: 10px;
    }
    
    #logo{
        display: block;
        float: left;
        width: 100px;
        height: 100px;
        margin: 5px 0;
        margin-right:50px;
    }
    </style>
    <script>
    function checkform(){
        var strongPassword= new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
       $('#message').empty()
        if($('#password').val()==='' || $('#password2').val()===''){
$('#message').append('*Please fill all the details')
return false;
        }
        else if($('#password').val()!=$('#password2').val()){
            $('#message').append('*Passwords must have same value')
return false;
        }
        else if(strongPassword.test($('#password').val())==false){
            $('#message').append('*Password must be in required format ie (at least one capital letter,more than one special character and number and have a minimum of length 8)')
return false;
        }
        
        return true;
    }
    </script>
</head>
<body>
        <header style="background: rgba(255, 255, 255, 0.8);">  
           
                
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" id="logo" href="/"><img src="https://cbih.org/assets/img/cbih.png" alt="Cross Border Irish Health Programme | CBIH" title="Cross Border Irish Health Programme | CBIH">
                        
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                              <a class="nav-link" href="#" style="color:red">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#" style="color:red">Services</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#" style="color:red">How to Apply</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="#" style="color:red">About Us</a>
                                  </li>
                                  <li class="nav-item">
                                        <a class="nav-link" href="#" style="color:red">Facts</a>
                                      </li>
                                      <li class="nav-item">
                                            <a class="nav-link" href="#" style="color:red">Contacts</a>
                                          </li>
    
                                          <li class="nav-item" id='but'>
                                                <a class="btn btn-warning  my-2 my-sm-0" href="#">Online Application</a>
                                              </li>
                                              <li class="nav-item" id='but'>
                                                    <a class="btn btn-warning  my-2 my-sm-0" href="#">Login</a>
                                                  </li>
                                        
                          </ul>
                          
                        </div>
                      </nav>
           </header>
           <div style="background-color:lightgray" class="p-2">
                <% if(success_msg!=''){%>
                    <div class="alert alert-success col-md-6 container"><%= success_msg %></div> 
                   <%}%>
                   <% if(error_msg!=''){%>
                    <div class="alert alert-danger col-md-6 container"><%= error_msg %></div> 
                   <%}%>
    <form method="POST"  action="/update_password/<%=email%>" onsubmit="return checkform()" class="container col-md-6 col-sm-8 my-4 border card"> 
<div class="card-body " >
        <h2 class="form-signin-heading m-2" style="text-align:center">Reset password</h2>
        <hr>
        <div style="align-self:center">
        Enter new password for email&nbsp;&nbsp;&nbsp;&nbsp; ' <%=email[0]%><%=email[1]%>
        <%var n=email.length%>
<%for(var i=2;i<(n-12);i++){%>
    *
<%}%>
<%for(var j=n-12;j<n;j++){%>
<%=email[j]%>
<%}%>
'

<br><br>        
        <div style="color:red" id="message"></div>


        <label><h5>Enter new password</h5></label>
        <br>
        
        <input type="password" name="password" id="password" class="form-control" autofocus>
    <br><br>
    <label><h5>Retype password</h5></label>
    <br>
    <input type="password" name="password2" class="form-control" id="password2" autofocus>

    </div>
</div>
        <div class="card-footer " style="padding-left:40%" >
            <input type="submit" class="btn btn-primary" value="Change">
        </div>
        
    </form>
</div>
</body>
</html>